<%- include('../header.html'); %>



<h1>Akira</h1>

<p>
    Akira Yamaoka is a Japanese composer and music producer, 
    best known for his work on the Silent Hill series of video 
    games. Born on February 6, 1968, in Niigata, Japan, 
    Yamaoka has made significant contributions to the gaming 
    industry with his haunting and atmospheric soundtracks. 
    He joined Konami in 1993 and quickly became involved in the sound design and composition for various games. His most notable work is on the Silent Hill series, where he not only composed the music but also worked as a producer. His unique blend of industrial, ambient, and rock music helped create the eerie and unsettling atmosphere that the series is known for

</p>

<img src="/images/akira.jpg" alt="" height="400" width="600">

<%- include('../footer.html'); %>