
<%- include('../header.html'); %>


<h2>Kana-Boon</h2>

<p>Kana-Boon is a Japanese rock band formed in 2008 in Sakai, Osaka. They made their major debut with Ki/oon Music in 2013. The band has released several albums and singles that have reached the top ten on the weekly Oricon charts. Their music is a blend of rock, pop rock, and J-pop.

    Kana-Boon is known for their energetic performances and catchy tunes. Some of their notable songs include "Silhouette," which was used as the 16th opening theme for Naruto: Shippuden, and "Diver," which was the theme song for Boruto: Naruto the Movie.
    
    The band has undergone several lineup changes over the years, but they continue to be a prominent name in the Japanese music scene</p>


<img src="/images/kanaboon.jpg" alt="" height="400" width="600">

<%- include('../footer.html'); %>




