<%- include('../header.html'); %>

    <h2>Yoasobi</h2>

    <p>
        Yoasobi is a Japanese pop duo formed in 2019,
        consisting of musician and record producer Ayase and
        singer-songwriter Lilas Ikuta, who performs under the
        moniker Ikura. The duo is known for their unique
        concept of turning fictional stories into music,
        with the slogan "novel into music." They originally
        released songs based on selected stories posted on
        Monogatary.com, a social media website for creative writing operated by Sony Music Entertainment Japan
    </p>


    <img src="/images/yoasobi.jpeg" alt="" height="400" width="600">

    <%- include('../footer.html'); %>