<%- include('header.html'); %>


<h1> My Top 3 Favorite Music Artists</h1>

<h2>Kana-Boon</h2>
<img src="/images/kanaboon.jpg" height="200" width="150">
<p>
    Akira Yamaoka is a Japanese composer and music producer, 
    best known for his work on the Silent Hill series of video 
    games. Born on February 6, 1968, in Niigata, Japan, 
    Yamaoka has made significant contributions to the gaming 
    industry with his haunting and atmospheric soundtracks. 
    He joined Konami in 1993 and quickly became involved in the sound design and composition for various games. His most notable work is on the Silent Hill series, where he not only composed the music but also worked as a producer. His unique blend of industrial, ambient, and rock music helped create the eerie and unsettling atmosphere that the series is known for

</p>
<a href="/artists/kanaboon">Kanaboon</a>


<h2>Akira Yamaoka</h2>
<img src="/images/akira.jpg" alt="" height="200" width="150">
<p>
    Akira Yamaoka is a Japanese composer and music producer, 
    best known for his work on the Silent Hill series of video 
    games. Born on February 6, 1968, in Niigata, Japan, 
    Yamaoka has made significant contributions to the gaming 
    industry with his haunting and atmospheric soundtracks. 
    He joined Konami in 1993 and quickly became involved in the sound design and composition for various games. His most notable work is on the Silent Hill series, where he not only composed the music but also worked as a producer. His unique blend of industrial, ambient, and rock music helped create the eerie and unsettling atmosphere that the series is known for

</p>
<a href="/artists/akira">Akira</a>

<h2>Yoasobi</h2>
<img src="/images/yoasobi.jpeg" alt="" height="200" width="150">
<p>
    Yoasobi is a Japanese pop duo formed in 2019, 
    consisting of musician and record producer Ayase and 
    singer-songwriter Lilas Ikuta, who performs under the 
    moniker Ikura. The duo is known for their unique 
    concept of turning fictional stories into music, 
    with the slogan "novel into music." They originally 
    released songs based on selected stories posted on 
    Monogatary.com, a social media website for creative writing operated by Sony Music Entertainment Japan
</p>
<a href="/artists/yoasobi">Yoasobi</a>






